<div class="banner">
  <h1>FANCY COCKTAIL</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<h2>CREATE YOUR <i class="highlighted-orange highlighted"> COCKTAIL </i> 🍸</h2>
<hr>

<div class="container">
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card-trip col-md-12 col-lg-5 m-3">
        <img src="https://images.pexels.com/photos/2789328/pexels-photo-2789328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <hr>
  <div class="div-button">
  </div>
  <section class="portfolio-experiment">
    <a href="cocktails/new">
      <span class="text">ADD A COCKTAIL</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </section>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i>
  </div>
</div>

