<div class="banner">
  <h1>FANCY COCKTAIL</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<h2>CREATE YOUR <i class="highlighted-orange highlighted"> COCKTAIL </i> 🍸</h2>

<div class="container">
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card-trip col-md-12 col-lg-5 m-3">
        <img src="https://images.pexels.com/photos/2789328/pexels-photo-2789328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <div class="div-button">
<%= link_to "ADD A COCKTAIL", new_cocktail_path, class: "btn btn-treehouse" %>
  </div>
</div>

