<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/1435735/pexels-photo-1435735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1>CHOSE YOUR INGREDIENTS</h1>
</div>

<div class="container">
  <div class="row">
    <div class="container-yellow">
      <h2>CREATE YOUR <i class="highlighted-orange highlighted"> RECIPE</i> 🍋</h2>
      <div>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit 'ADD MY RECIPE', class: "btn btn-form" %>
        <% end %>
      </div>
    </div>
  </div>
  <section class="portfolio-experiment">
    <a href="/">
      <span class="text">GO BACK</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </section>
</div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart">
  </div>
</div>

