
body {
  background-color: #fffefc;
}

.row {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 21px;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
}

.div-button {
  text-align: center;
}
